body {
  margin-left: 14px;
  background-image: url("https://img.freepik.com/premium-photo/tasty-pepperoni-pizza-black-concrete-background_79782-102.jpg");
  background-size: cover;
  width: 100%;
  min-height: 200px;
}

.content-container {
  display: flex;
  justify-content: space-around;
}

.profile {
  padding: 50px;
}

.profile img {
  width: 155px;
  border-radius: 50px;
}

.pizza-list {
  display: flex;
  justify-content: space-around;
  margin-left: 8px;
  margin-bottom: 30px;
  gap: 15px;
}

.pizza1,
.pizza2,
.pizza3 {
  border: 1px solid white;
  padding: 32px;
}

.size-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.topping-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.price-list {
  display: flex;
}

.total-price-list {
  display: flex;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.form-order {
  color: white;
}
